.container {
  background-image: url(./assets/mobile/bg-image-nighttime.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: normal;
}
@media screen and (min-width: 600px) {
  .container {
    background: url(./assets/desktop/bg-image-nighttime.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: normal;
  }
}
.containerDay {
  background: url(./assets/mobile/bg-image-daytime.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: darken;
}
@media screen and (min-width: 600px) {
  .containerDay {
    background-image: url(./assets/desktop/bg-image-daytime.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: normal;
    
  }
}
