.container {
  background-image: url(./assets/mobile/bg-image-nighttime.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .container {
    background: url(./assets/desktop/bg-image-nighttime.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
  }
}
.quote {
  padding: 26px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 22px;
  /* width: 290px; */
  height: 86px;
}

.author {
  font-weight: bold;
  color: white;
  padding: 12px 26px;
}

.time {
  width: 266px;
  height: 100px;
  font-weight: bold;
  line-height: 100px;
  color: #fff;
  font-size: 100px;
  padding: 0 26px;
}
